# Week 1 Exercise 1.2

## Exploring a Pandas Data Frame

Amelia Farrell

DSC550

11/25/24

In [155]:

# Connecting to google drive
from google.colab import drive
drive.mount('/content/drive')

# Change to the google drive directory
%cd /content/drive/MyDrive/Colab\ Notebooks/DSC550

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Colab Notebooks/DSC550


## 1. Load the dataset as a Pandas data frame

In [156]:
# importing libraries needed
import numpy as np
import pandas as pd
# loading dataset as a data frame
df = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

## 2. Display the first ten rows of data

In [157]:
# dispying the first 10 records
df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

## 3. Find the dimensions
Finding the number of rows and columns in the data frame.

What do these two numbers represent in the context of the data? The rows represent the number of observations and the columns the number of variables. In the context of the game data, one row represents one game and it's attributes shown in the corresponding columns.

In [158]:
rows, columns = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 16719
Number of columns: 16

## 4. Find the top five games by critic score.

In [159]:
# Sort the DataFrame by "Critic_Score" in descending order and get the top 5 rows
top_5 = df.sort_values(by="Critic_Score", ascending=False).head(5)

# Display only the "Name" and "Critic_Score" columns
top_5_short = top_5[["Name", "Critic_Score"]]


print("Top 5 games by critic score:")
print(top_5_short)

Top 5 games by critic score:
                          Name  Critic_Score
227   Tony Hawk's Pro Skater 2          98.0
57         Grand Theft Auto IV          98.0
51         Grand Theft Auto IV          98.0
5350               SoulCalibur          98.0
165         Grand Theft Auto V          97.0

## 5. Find the number of video games in the data frame in each genre.

In [160]:
# Count the number of video games in each genre
genre_count = df["Genre"].value_counts()

print("Number of video games in each genre:")
print(genre_count)

Number of video games in each genre:
Genre
Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: count, dtype: int64

## 6. Find the first five games in the data frame on the SNES platform.

In [161]:
# Ensure Release_Date is in datetime format
df["Year_of_Release"] = pd.to_datetime(df["Year_of_Release"])

# Filter for SNES games and sort by Release_Date
snes_games_sorted = df[df["Platform"] == "SNES"].sort_values(by="Year_of_Release").head(5)

# Display only the game Title
first_snes_games = snes_games_sorted[["Name"]]

print("First five SNES games based on year of release:")
print(first_snes_games)

First five SNES games based on year of release:
                   Name
18    Super Mario World
1195        Final Fight
511              F-Zero
1791         Pilotwings
1111      Super Scope 6

## 7. Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.

In [162]:
# First grouping by publisher and calculating the total global sales for each
total_publisher_sales = df.groupby("Publisher")["Global_Sales"].sum()

# Sort the publishers by total global sales in descending order and get the top 5
top_publishers = total_publisher_sales.sort_values(ascending=False).head(5)

print("Top 5 publishers by total global sales:")
print(top_publishers)

Top 5 publishers by total global sales:
Publisher
Nintendo                       1788.81
Electronic Arts                1116.96
Activision                      731.16
Sony Computer Entertainment     606.48
Ubisoft                         471.61
Name: Global_Sales, dtype: float64

## 8. Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data frame.

In [163]:
# Calculating the percentage of global sales from North America (NA_Sales)
df["NA_Percentage"] = (df["NA_Sales"] / df["Global_Sales"]) * 100

# Display the first five rows of the new DataFrame
print("DataFrame with NA Percentage column:")
print(df.head(5))

DataFrame with NA Percentage column:
                       Name Platform               Year_of_Release  \
0                Wii Sports      Wii 1970-01-01 00:00:00.000002006
1         Super Mario Bros.      NES 1970-01-01 00:00:00.000001985
2            Mario Kart Wii      Wii 1970-01-01 00:00:00.000002008
3         Wii Sports Resort      Wii 1970-01-01 00:00:00.000002009
4  Pokemon Red/Pokemon Blue       GB 1970-01-01 00:00:00.000001996

          Genre Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
0        Sports  Nintendo     41.36     28.96      3.77         8.45
1      Platform  Nintendo     29.08      3.58      6.81         0.77
2        Racing  Nintendo     15.68     12.76      3.79         3.29
3        Sports  Nintendo     15.61     10.93      3.28         2.95
4  Role-Playing  Nintendo     11.27      8.89     10.22         1.00

   Global_Sales  Critic_Score  Critic_Count User_Score  User_Count Developer  \
0         82.53          76.0          51.0          8       322.0  Nintendo
1         40.24           NaN           NaN        NaN         NaN       NaN
2         35.52          82.0          73.0        8.3       709.0  Nintendo
3         32.77          80.0          73.0          8       192.0  Nintendo
4         31.37           NaN           NaN        NaN         NaN       NaN

  Rating  NA_Percentage
0      E      50.115110
1    NaN      72.266402
2      E      44.144144
3      E      47.635032
4    NaN      35.926044

## 9. Find the number NaN entries (missing data values) in each column.

In [164]:
# Counting the number of NaN entries in each column
missing_values = df.isna().sum()

print("Number of NaN entries in each column:")
print(missing_values)

Number of NaN entries in each column:
Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
NA_Percentage         0
dtype: int64

## 10. Calculate the median user score of all the video games

Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user score column with the median value.

In [165]:
# Identifying all non-numerical string values in  the User_Score by attempting to convert to numeric
non_numerical_count = df["User_Score"].apply(pd.to_numeric, errors="coerce").isna().sum()

print(f"Count of non-numerical string values in User_Score column: {non_numerical_count}")

Count of non-numerical string values in User_Score column: 9129

In [166]:
# Since this count is higher than the numnber of NaN values, we know that we need to replace the non-numerical values in order to calculate the medium.

# Finding and replacing all non-numerical string values within the user score column with 'NaN' since they cannot be converted to a float or used in the calculation.
# We can do this by converting 'user_Score' to numeric then replacing all non-convertible strings with 'NaN'.
df["User_Score"] = pd.to_numeric(df["User_Score"], errors="coerce")

# Testing replacment on a game we know had a non-numerical value ('tbd').
Zumba_Fitness = df[df["Name"] == "Zumba Fitness"]
Zumba_Fitness2 = Zumba_Fitness[["Name", "User_Score"]]
print(Zumba_Fitness2)

               Name  User_Score
119   Zumba Fitness         NaN
669   Zumba Fitness         5.5
3516  Zumba Fitness         3.8

In [167]:
# Remove rows any with NaN in the User_Score column so we can calculate the median.
# filtered_NaN_df = df.dropna(subset=["User_Score"])

In [168]:
# Calculating the median User_Score for each game.
grouped_df = df.groupby("Name")["User_Score"].median()
grouped_df

Name
 Beyblade Burst                 NaN
 Fire Emblem Fates              NaN
 Frozen: Olaf's Quest           NaN
 Haikyu!! Cross Team Match!     NaN
 Tales of Xillia 2              7.9
                               ...
thinkSMART: Chess for Kids      NaN
uDraw Studio                    NaN
uDraw Studio: Instant Artist    5.7
wwe Smackdown vs. Raw 2006      NaN
¡Shin Chan Flipa en colores!    NaN
Name: User_Score, Length: 11562, dtype: float64

In [173]:
# Map the median scores back to the original DataFrame using Title as the key.
df["Median_Score"] = df["Name"].map(grouped_df)

# Replace NaN values in User_Score with the median score for each game.
df["User_Score"] = df["User_Score"].fillna(df["Median_Score"])

# Dropping the Median_Score "helper column" from the orginal data frame.
df = df.drop(columns=["Median_Score"])

In [174]:
# Re-counting all non-numerical string values in the User_Score after filling in the median for each game.
non_numerical_count = df["User_Score"].apply(pd.to_numeric, errors="coerce").isna().sum()

print(f"Count of non-numerical string values in User_Score column: {non_numerical_count}")

Count of non-numerical string values in User_Score column: 8030

In [175]:
# Testing replacment on a game we know had a non-numerical value ('tbd').
Zumba_Fitness = df[df["Name"] == "Zumba Fitness"]
Zumba_Fitness2 = Zumba_Fitness[["Name", "User_Score"]]
print(Zumba_Fitness2)

               Name  User_Score
119   Zumba Fitness        4.65
669   Zumba Fitness        5.50
3516  Zumba Fitness        3.80

In [177]:
# Viewing our final data frame with median user scores added for each game
# Note that any game still showing an NaN under "User Score" did not have any user score within the data set. Meaning that no median could be calculated.
df.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating,NA_Percentage
0,Wii Sports,Wii,1970-01-01 00:00:00.000002006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8.0,322.0,Nintendo,E,50.115110
1,Super Mario Bros.,NES,1970-01-01 00:00:00.000001985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN,72.266402
2,Mario Kart Wii,Wii,1970-01-01 00:00:00.000002008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E,44.144144
3,Wii Sports Resort,Wii,1970-01-01 00:00:00.000002009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8.0,192.0,Nintendo,E,47.635032
4,Pokemon Red/Pokemon Blue,GB,1970-01-01 00:00:00.000001996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN,35.926044
5,Tetris,GB,1970-01-01 00:00:00.000001989,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN,76.668870
6,New Super Mario Bros.,DS,1970-01-01 00:00:00.000002006,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E,37.852349
7,Wii Play,Wii,1970-01-01 00:00:00.000002006,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E,48.271093
8,New Super Mario Bros. Wii,Wii,1970-01-01 00:00:00.000002009,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E,50.988701
9,Duck Hunt,NES,1970-01-01 00:00:00.000001984,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN,95.125397